:root {
  --yellow-color: #ffc529;
  --orange-color: #fe724c;
  --black-color: #272d2f;
  --light-grey-color: #d7d7d7;
  --white-color: #ffffff;
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
  margin-bottom: 0.25rem;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--orange-color);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  margin-left: 1rem;
  transition: all 0.15s ease-in-out;
}

.actions button:hover,
.actions button:active {
  background-color: var(--black-color);
  border-color: var(--black-color);
  color: var(--white-color);
}

.actions .button--alt {
  color: var(--orange-color);
}

.actions .button {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.closing {
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--orange-color);
  color: var(--white-color);
  border: 1px solid var(--orange-color);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
