.recipes {
  max-width: 80vw;
  width: 90%;
  margin: 2rem auto 2rem auto;
  animation: recipes-appear 1s ease-out forwards;
}

.recipes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes recipes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
