:root {
  --yellow-color: #ffc529;
  --orange-color: #fe724c;
  --black-color: #272d2f;
  --light-grey-color: #d7d7d7;
  --white-color: #ffffff;
}

.summary {
  max-width: 80vw;
  width: 90%;
  margin: auto;
  margin-top: -35rem;
  position: relative;
  background-color: none;
  color: var(--white-color);
  padding: 1rem 0;
}

.summary h2 {
  font-size: 3rem;
  margin-top: 0;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}

.summary a {
  font-size: 1rem;
  background-color: var(--orange-color);
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--black-color);
  box-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}
