@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --yellow-color: #ffc529;
  --orange-color: #fe724c;
  --black-color: #272d2f;
  --light-grey-color: #d7d7d7;
  --white-color: #fbfbfb;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background: var(--black-color);
  padding: 0 10%;
  z-index: 10;
}

.header.active {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  background-color: var(--orange-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  animation: header-appear 0.35s ease-in-out backwards;
}

.header.active .title {
  font-size: 2.25rem;
  color: var(--white-color);
}

.header.active .title-trademark {
  top: -0.75rem;
  font-size: 0.5rem;
  color: var(--white-color);
}

.title {
  padding: 1rem;
  font-family: "Pacifico", cursive;
  color: var(--white-color);
  font-size: 2.25rem;
  display: flex;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}

.title-trademark {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.5rem;
  position: relative;
  top: -0.75rem;
  left: 0.15rem;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font: inherit;
  color: var(--white-color);
  padding: 0 2rem;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: all 0.15s ease-in-out;
}

.button-section {
  display: flex;
  align-items: center;
  background-color: var(--orange-color);
}

.container a:hover,
.container a:active {
  border-bottom: 5px solid var(--white-color);
}

a.onActive {
  border-bottom: 5px solid var(--orange-color);
}

@keyframes header-appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-1rem);
  }

  75% {
    opacity: 1;
    transform: translateY(0rem);
  }

  100% {
    opacity: 1;
    transform: translateY(-0.25rem);
  }
}
