@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --yellow-color: #ffc529;
  --orange-color: #fe724c;
  --black-color: #272d2f;
  --light-grey-color: #d7d7d7;
  --white-color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: transparent;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.header.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange-color);
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.main-image {
  width: 100%;
  height: 45rem;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.main-image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 110%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(39, 45, 47, 1));
}

.title {
  padding: 1rem;
  font-family: "Pacifico", cursive;
  color: var(--white-color);
  font-size: 2.5rem;
  display: flex;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}

.title-trademark {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.75rem;
  position: relative;
  top: -0.75rem;
  left: 0.15rem;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font: inherit;
  color: var(--white-color);
  padding: 0 2rem;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.link-active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font: inherit;
  color: var(--white-color);
  padding: 0 2rem;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(39, 45, 47, 0.5);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border-bottom: 5px solid var(--orange-color);
}


